body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    width: 15vw;
    text-align: center;
    display: block;
    margin: 10% auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
img {
    width: 15vw;
    border-radius: 20px;
}
h1 {
    font-size: 16px;
}
p {
    font-size: 14px;
    color: hsl(220, 15%, 55%);
}